{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bienvenid@!</h3>

<p>Hola {{ nombreusuario }}! Te has registrado exitosamente.</p>

<p>Para ingresar utiliza estos datos:</p>
Usuario: {{ emailreceptor }} <br>
Password: {{ claveactivacion }}

{# example, assuming you have a route named "login" #}
<p>Pincha en el enlace para ir a : <a href="{{ url('login') }}">cleanjob.com.ec</a>.</p>

Gracias!

{# Makes an absolute URL to the /images/logo.png file #}