{% extends "AppBundle:Layouts:layout.html.twig"%}
{% trans_default_domain 'FOSUserBundle' %}

{% block content%}

<div class="global">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 margBot pull-left slider-box">
                    <div class="content-box1">
                        <h2 class="color2 text-center">
                            <span>Ingreso Usuario
                            </span>
                        </h2>

                        {% block fos_user_content %}
                      <p class="text-white">
                      Registrado como {{user.username}} |
                      <a href="{{ path('fos_user_security_logout') }}">
                          {{ 'Salir'|trans({}, 'FOSUserBundle') }}
                      </a>
                    </p>
{% endblock fos_user_content %}
                    <!--bootstrap slider starts-->
                    
                        
                    </div>
                    
                </div>
                <!--bootstrap slider ends-->
                
                
            </div>
            
        </div>
        

        
    </div>
    </div> </div>

    {% endblock%}