{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block content%}

<div class="bloque-info container">
  <div class="container">
    <h3 class="text-green"><b>PREGUNTAS FRECUENTES</b></h3>
  </div>
  <div class="fondo">

  </div>
  <div class="container">
    <div class="col-md-3 bloque-interno" style="background-color: #a2d180; color: white">
      <h1><b>Quienes Somos</b></h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nulla alias, iure aliquid ducimus ipsa illo? Reiciendis debitis officiis excepturi. Iusto porro voluptas reprehenderit aut consequatur distinctio neque, quisquam cum <br><br>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsa vel autem assumenda earum voluptatem error sit qui dolorem? Repellendus nesciunt aliquid minus vitae ducimus ipsam, possimus distinctio eveniet consequatur <br><br>

      <a href="#" class="text-blue"><h1 style=" background-color: #f3f3f5; padding: 20px; font-weight: bold;">Unete Ahora</h1></a>
    </div>
    <div class="col-md-9">
       <p class="text-green">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem?
       </p>
       <p class="text-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe, est perferendis, placeat facilis incidunt nulla quasi vel aliquid perspiciatis, voluptatum quaerat accusamus laudantium! Omnis ipsam odio itaque minima repudiandae!</p>
       <p class="text-green">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem?
       </p>
       <p class="text-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe, est perferendis, placeat facilis incidunt nulla quasi vel aliquid perspiciatis, voluptatum quaerat accusamus laudantium! Omnis ipsam odio itaque minima repudiandae!</p>
       <p class="text-green">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem?
       </p>
       <p class="text-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe, est perferendis, placeat facilis incidunt nulla quasi vel aliquid perspiciatis, voluptatum quaerat accusamus laudantium! Omnis ipsam odio itaque minima repudiandae!</p>
       <p class="text-green">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem?
       </p>
       <p class="text-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe, est perferendis, placeat facilis incidunt nulla quasi vel aliquid perspiciatis, voluptatum quaerat accusamus laudantium! Omnis ipsam odio itaque minima repudiandae!</p>
    </div>
  </div>
</div>


 {% endblock%}