{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block content%}

<div class="global">
<div class=" container">
  <div class="container">
  </div>
  <div class="fondo">

  </div>

                        {% block body %}
     
  <div class="container" style="color:rgba(0,79,162,1) !important">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" style="font-size:4em"><b>ABOUT</b> US</h1>
      </div>
      <div class="col-md-6" data-aos="fade-right" style="border:2px solid rgba(0,79,162,1); width: 29%;position: relative;top: -40px;left: -40px;">
              <img src="{{asset('assets/images/buscas_empleo.jpg')}}" alt="" style="position: relative;top: 40px;left: 40px;width:100%" data-aos="fade-left" class="img-fluid">
          </div>
      <div class="col-md-6" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="margin-left:80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil non corrupti minus consectetur in dolor, qui soluta harum vero quibusdam suscipit, iure tenetur numquam ipsam neque delectus aliquid. Reprehenderit, id!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="padding-top:120px; padding-left:100px">
        <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
      </div>
      <div class="col-md-6">
        <img src="{{asset('assets/images/nosotros.jpg')}}" alt="" style="position: relative;top: -240px;left: 40px;width:100%" data-aos="fade-left" class="img-fluid">
      </div>
    </div>
  </div>
  
</div>  
    
{% endblock %}

                        
                        
                    </div>
                    <!--bootstrap slider starts-->
                    
                        
                    </div>
                    
                </div>
                <!--bootstrap slider ends-->
                
                
            </div>
            
        </div>
        

        
    </div>
    </div> </div>

    {% endblock%}



