{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block content%}

<div class="global">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 margBot pull-left slider-box">
                    <div class="content-box1">
                        <h2 class="color2 text-center">
                            <span>15 Tips para una exitosa entrevista de trabajo
                            </span>
                        </h2>

                        {% block body %}
     
    <br>
    <div class="table-responsive"> 
    <p>
    1. <strong>Prepárate e investiga sobre la empresa que te va a entrevistar</strong> y del sector al que pertenece o a qué se dedica. Es mucho más probable que se interesen en ti si demuestras conocimiento e interés y tu oferta de valor hacia la empresa.
</p>
 
<p>
2. <strong>Prepara tus referencias</strong>: Avisa con tiempo a tus referencias que vas a ir a una entrevista. Cuéntales de la empresa y del puesto al que estás postulando.
</p>
 
<p>
3. <strong>Llega antes de lo esperado</strong>: se recomienda unos 15 minutos antes, siempre es mejor esperar a ser esperado, y además eso habla muy bien de ti profesionalmente.
</p>
 
<p>
4. <strong>Inicia la entrevista con pie derecho</strong>, El saludos es muy importante, Saluda con un apretón de manos ni muy fuerte ni muy débil, con confianza y profesionalismo, siempre mirando a los ojos y con un sonrisa natural.
</p>
 
<p>
5. <strong>Cuida tu imagen personal</strong>: acuérdate que no hay una segunda oportunidad para una primera buena impresión. Sea cual sea el trabajo, es necesario que vistas formal, de esta manera demostrarás que el trabajo te lo tomas con seriedad. Evita los colores cálidos, una buena opción es el azul marino, gris oscuro y negro. Los colores neutros serán tus aliados en esta cita. Lleva un peinado adecuado, nada muy alocado, cuanto más sencillo mejor. Las mujeres no deben utilizar demasiado maquillaje.
</p>
 
<p>
6. <strong>Cuida tu lenguaje corporal</strong>, tu comportamiento puede expresar más sobre tu personalidad de lo que dices. Adopta una postura erguida. Nada peor que andar encorvado, ya que refleja flojera, indecisión, y falta de profesionalismo. Evita todo tipo de movimientos nerviosos con tus manos o pies. Sonríe. Los empleadores siempre prefieren un candidato alegre y entusiasta que a una persona aparentemente hostil o estresada. Sin embargo, trata de no excederte. Las sonrisas falsas y el humor forzado tampoco son recomendables.
</p>
 
<p>
7. <strong>Lleva tu currículum impreso y referencias</strong>: a veces uno puede creer que como ya lo envió por email, o porque ya llenó un formulario, llevarlos impresos no es necesario. Pero lo es. Además, de las recomendaciones que tengas no está nunca de más.
</p>
 
<p>
8. <strong>Escucha bien cada pregunta</strong>. Recuerda que nadie calificará qué tan rápido eres para contestar; puedes tomarte unos segundos para pensar cuál será tu respuesta y estructurarla bien. Vale más una respuesta de calidad que una respuesta rápida.
</p>
 
<p>
9. <strong>No hables mucho ni hables por hablar</strong>. Permite a tu interlocutor hablar; no lo interrumpas. En decir, evita tomar el control de la entrevista.
</p>
 
<p>
10. <strong>Trata de hacer plática de otro tema</strong>: siempre es bueno caer bien. No vas a salir siendo el mejor amigo de tu entrevistador, pero aunque no quedes en aquel empleo tendrás un nuevo contacto.
</p>
 
<p>
11. <strong>No mientas</strong>: suena muy obvio, pero no lo es. Tendemos a "acoplarnos" o adaptarnos a lo que esperan en un trabajo de nosotros. Así que si hablan de tal programa, proceso habilidad que se requiere para el puesto, tendemos a decir que sí podemos, aunque en realidad estemos a medias en aquellos conocimientos. Aunque puede funcionar para conseguir el empleo, a la larga puede ser contraproducente al no gustarnos lo que hacemos o al enredarnos con cosas que no dominamos. Y recuerda que estarás haciendo eso por al menos ocho horas al día.
</p>
 
<p>
12. <strong>Importantísimo</strong>, Sé siempre positivo. Jamás hables mal de las empresas en las que has trabajado anteriormente, ni de tus jefes. Por muy mala experiencia que hayas tenido, es mejor no dar ese tipo de opiniones porque te puede mostrar como una persona de poco fiar. Enfócate en los retos que enfrentaste, cómo resolviste los problemas y lo que aprendiste en ellas.
</p>
<p>
13. <strong>Tranquilízate</strong>: por lo general, el proceso de selección de las empresas es relativamente justo. Si eres el adecuado, obtendrás el trabajo. Si no, acuérdate que no hay trabajo ideal para nadie y es una buena oportunidad para ver otros campos.
</p>
<p>
14. <strong>Resuelve tus dudas</strong> La entrevista no puede terminar sin que aclares todas tus dudas, esto además <strong>demostrará interés por el puesto de trabajo</strong>. Algunos puntos que deben quedar muy claros son: horarios, actividades, responsabilidades, etc.
</p>
<p>
15. Deja el salario para el final Probablemente sea uno de los temas que más te preocupas o te interesan, pero debes dejarlo para el final y mostrar mayor interés en las motivaciones y expectativas del trabajo. <strong>Si manifiestas que es lo más importante, perderás inmediatamente varios puntos</strong>, pues el empleador entenderá que es tu principal motivación.
</p>
 
<p align=center>Mucha suerte</p>    
    
{% endblock %}

                        
                        
                    </div>
                    <!--bootstrap slider starts-->
                    
                        
                    </div>
                    
                </div>
                <!--bootstrap slider ends-->
                
                
            </div>
            
        </div>
        

        
    </div>
    </div> </div>

    {% endblock%}



